.wrapper{
    display: flex;
    justify-content: space-between;
    background-color: gray;
}

.action{
    display: flex;
    justify-content: space-between;
    width: 100%;

    .action_section{
        margin: 0 10px 0 10px;
    }


}

