@import '../variables.scss';

.header_wrapper {
    animation-duration: .7s;
    animation-timing-function: ease-in;
}

.menu_btn {
    display: none;
    background: none;
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .action_section {
        margin: 0 20px;
        display: flex;
        align-items: center;
    }
}

.button_header {
    padding: 15px 10px;
    transition: all ease-out .2s;
    cursor: pointer;
}

.language_btn {
    display: flex;
    border-top: 1px solid $color_black;
    border-bottom: 1px solid $color_black;
}

.flag {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button_lang {
    padding: 0;
    margin-right: 15px;
}

img {
    width: 40px;
    border-radius: 55px;
    padding: 0 7px;
}

@media (max-width: 768px) {
    .button_header {
        font-size: 18px;
        font-weight: 500;
        border: none;
        padding: 8px 6px;
    }

    .action {
        display: none;
    }

    .menu_btn {
        display: block;
        padding: 10px;
        margin-left: 15px;
    }

    mat-sidenav {
        display: block;
    }
}