@import '../variables.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 25px;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
}

.text {
    margin: 0 auto;

    &>* {
        text-align: center;
        color: $color_green;
        margin-top: 10px;
        font-weight: 500;
    }

    h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 22px;
    }
}

form {
    width: 660px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;

    .form_section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin: 15px;


        label {
            font-size: 20px;
            margin-right: 15px;
        }

        input,
        textarea {
            width: 400px;
            font-size: 20px;
            padding: 10px;
            margin-right: 50px;
            border: 1px solid $color_black;
            border-radius: 10px;
        }
    }

    button {
        margin: 10px auto;
    }

    .invisible {
        visibility: hidden;
    }

    .error {
        visibility: visible;
        color: red;
        text-align: center;
        text-decoration: underline;
        text-align: center;
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    form {
        width: 360px;

        .form_section {

            label {
                font-size: 14px;
                margin-right: 5px;
            }

            input,
            textarea {
                width: 200px;
                font-size: 14px;
                padding: 7px;
                margin-right: 0px;
                border-radius: 10px;
            }
        }

        button {
            margin: 7px auto;
        }

        .error {
            font-size: 16px;
        }
    }
}