<!-- <form class="contact-form"  (submit)="sendEmail($event)">
    <label>Name</label>
    <input type="text" name="user_name">
    <label>Email</label>
    <input type="email" name="user_email">
    <label>Message</label>
    <textarea name="message"></textarea>
    <input type="submit" value="Send">
</form> -->

<form #mail="ngForm" (ngSubmit)="sendEmail(mail)">
    <input type="text" name="user_name" ngModel placeholder="name" id="name">
    <input type="email" name="user_email" ngModel placeholder="email" id="email">
    <textarea name="message" id="message" ngModel></textarea>
    <button type="submit">Send</button>
</form>