<div class="wrapper">
    <h2>{{"Portfolio" | transloco}}</h2>
    <div class="container">
        <div class="project fromRight">
            <div class="project_name ">Bike shop</div>
            <img src="assets/img/screen_1.png" alt="bike_shop">
            <div class="project_desription">{{"This is online bike shope, with authorization and cart. User can sort products by categories and by price, add item to the cart and change quantity. In administration mode is possible to add new product to the data base or delete it." | transloco}}</div>
            <div class="project_action">
                <a href="https://store-payment.web.app/" class="button1">{{"Go to website" | transloco}}</a>
                <a href="https://github.com/tarashevchuk0401/store-payment" class="button1">{{"View GitHub" | transloco}}</a>
            </div>
        </div>
        <div class="project fromBottom">
            <div class="project_name ">Lapota</div>
            <img src="assets/img/screen_2.png" alt="lapota">
            <div class="project_desription">{{"Website for small restaurant (and catering). Under the hood is an administration panel where the owner can edit all menu, upload photos and change information about the restaurant." | transloco}}</div>
            <span>{{"In this project, I've been working with UI/UX designer and improve my communication skills with the client. Don't forget to switch to English language in the application." | transloco}}</span>

            <div class="project_action">
                <a href="https://lapotaua.web.app" class="button1">{{"Go to website" | transloco}}</a>
                <a href="https://github.com/tarashevchuk0401/liapota" class="button1">{{"View GitHub" | transloco}}</a>
            </div>
        </div>
        <div class="project fromLeft">
            <div class="project_name">ToDoList (Node.js)</div>
            <img src="assets/img/screen_3.png" alt="todoList">
            <div class="project_desription">{{"This project is a simple ToDo application built with Angular for the frontend and Node.js for the backend. Here we have authorization, so each user are able to see only own information ." | transloco}}</div>
                <div class="project_action">
                    <a href="https://github.com/tarashevchuk0401/toDoList-Node.js" class="button1">{{"View GitHub" | transloco}}</a>
                </div>
        </div>
    </div>
</div>