<div class="wrapper">
    <h2>Portfolio</h2>
    <div class="container">
        <div class="project fromRight">
            <div class="project_name ">Bike shop</div>
            <img src="assets/img/screen_1.png" alt="">
            <div class="project_desription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
                sapiente. A quas suscipit dicta soluta, repudiandae qui. Doloremque, incidunt hic.</div>
                <div class="project_action">
                    <button class="button1">Go to website</button>
                    <button class="button1">View GitHub</button>
                </div>
        </div>
        <div class="project fromBottom">
            <div class="project_name ">Lapota</div>
            <img src="assets/img/screen_2.png" alt="">
            <div class="project_desription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
                sapiente. A quas suscipit dicta soluta, repudiandae qui. Doloremque, incidunt hic.</div>

            <div class="project_action">
                <button class="button1">Go to website</button>
                <button class="button1">View GitHub</button>
            </div>
        </div>
        <div class="project fromLeft">
            <div class="project_name">ToDoList (Node.js)</div>
            <img src="assets/img/screen_3.png" alt="">
            <div class="project_desription">Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda,
                sapiente. A quas suscipit dictasdasd asd asd asd asd asd asd asd
                asd asd asd asdasdf a soluta, repudiandae qui. Doloremque, incidunt hic.</div>
                <div class="project_action">
                    <button class="button1">View GitHub</button>
                </div>
        </div>
    </div>
</div>