<!-- <app-header></app-header> -->
<!-- <button (click)="drawer.toggle()"></button> -->

<div class="main_wrapper">
  <app-header></app-header>
  <!-- <button (click)="drawer.toggle()"></button> -->

  <!-- Sidenav -->
  <mat-sidenav-container [hasBackdrop]="true">
    <mat-sidenav #drawer mode="over" closed>
      <!-- Sidebar -->
      <app-sidebar></app-sidebar>
    </mat-sidenav>
    <mat-sidenav-content>
      <!-- MAIN -->
      <app-home></app-home>
      <hr #breakpointPortfolio>
      @defer (on viewport(breakpointPortfolio)) {
      <app-portfolio></app-portfolio>
      <hr>
      }
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>