/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');
@import 'app/variables.scss';

// $color_blue: rgba(0, 163, 251, 0.2)

html,
body {
    height: 100%;
    box-sizing: border-box;
}

* {
    font-family: 'IBM Plex Sans', sans-serif;
    scroll-behavior: smooth;
    color: $color_black;
    margin: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

hr {
    border: 2px solid $color_black;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

.button1 {
    background-color: white;
    color: $color_black;
    border: 1px solid $color_black;
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
    font-weight: 500;
    margin: 10px;
    cursor: pointer;
    transition: all ease-in .2s;
    text-align: center;

    &:hover {
        background-color: $color_grey;
        color: $color_green;
        border: 1px solid $color_green;
    }

    &:disabled{
        pointer-events: none;
        background-color: rgba(100, 100, 100, 0.267);
        color: $color_grey;
        border: none;
    }
}

.button2{
    background: none;
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    border: none;
    color: $color_black;

    &:hover {
        color: $color_green;
    }
}

.fromLeft {
    animation-name: fromLeft;
}

.fromRight {
    animation-name: fromRight;
}

.fromBottom {
    animation-name: fromBottom;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-250vw);
        opacity: 0.3;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(250vw);
        opacity: 0.3;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(100vh);
        opacity: 0.0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}


@media (max-width: 768px) {
     .button1{
        font-size: 14px;
        border-radius: 5px;
        padding: 6px;
        padding-right: 6px;
        font-weight: 300;
        margin: 5px;  
     }   
}