/* You can add global styles to this file, and also import other style files */
// @import '../src/assets/styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&display=swap');


$color_green: #4c8b57;
$color_grey: #f4f4f4;
$color_black: #464a4e;
$color_dark_blue: #16336a;

html,
body {
    height: 100%;
    box-sizing: border-box;
    font-family: 'IBM Plex Sans', sans-serif;
}

* {
    scroll-behavior: smooth;
    color: $color_black;
    margin: 0;
    // font-family: Roboto, "Helvetica Neue", sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

hr {
    border: 2px solid #464a4e;
}

h2 {
    font-size: 28px;
    font-weight: 600;
}

.button1 {
    background-color: white;
    color: #464a4e;
    border: 1px solid #464a4e;
    border-radius: 10px;
    padding: 7px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: all ease-in .2s;

    &:hover {
        background-color: #f4f4f4;
        color: #4c8b57;
        border: 1px solid #4c8b57;
    }

    &:disabled{
        pointer-events: none;
        background-color: #e7e5e5;
        color: #97999a;
        border: none;
    }
}

.fromLeft {
    animation-name: fromLeft;
}

.fromRight {
    animation-name: fromRight;
}

.fromBottom {
    animation-name: fromBottom;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-1000px);
        opacity: 0.3;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromRight {
    0% {
        transform: translateX(1000px);
        opacity: 0.3;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes fromBottom {
    0% {
        transform: translateY(300px);
        opacity: 0.0;
    }

    50% {
        opacity: 0.7;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}