<div class="wrapper">
    <div class="header_text">
        <div class="text first">Frontend</div>
        <div class=" text second">developer</div>
    </div>
    <div class="info">
        <div class="info_photo">
            <!-- <div class="square"></div> -->
            <!-- <img src="/assets/img/small_photo.jpg" alt="photo"> -->
            <img src="/assets/img/small_photo.jpg" alt="photo">
        </div>
        <div class="info_text">
            <h3>{{'Hi, my name is Taras.' | transloco}}</h3>
            <p>{{"I'm junior frontend developer. I'm using Angular to create responsive and user-friendly websites and web applications. It's a pleasure to see that my product is useful for someone. Also, I'm highly motivated to grow and learn new technologies.Looking for a job in a friendly team where I could grow and be useful for the company which I will work for." | transloco}}</p>
            <h4>{{"Technologies" | transloco}}</h4>
            <ul>
                <li>JavaScript</li>
                <li>Angular</li>
                <li>TypeScript</li>
                <li>Angular Materials</li>
                <li>RxJS</li>
                <li>Git</li>
                <li>Node.js</li>
                <li>NgRx</li>
            </ul>
        </div>
    </div>
</div>