// @import '/src/styles.scss';

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.header_text {
    margin: 60px auto;
    transform: rotate(355deg);
    display: flex;
    flex-direction: column;
    align-items: center;

    .text {
        color: #4c8b57;
        font-size: 100px;
        font-weight: 600;
        font-family: 'IBM Plex Sans', sans-serif;
        animation-name: fromLeft;
        animation-duration: .8s;
        animation-timing-function: ease-out;
        text-shadow: 1px 1px 1px #b1aeae,
            1px 2px 1px #b1aeae,
            1px 3px 1px #b1aeae,
            1px 4px 1px #b1aeae,
            1px 5px 1px #b1aeae,
            1px 6px 1px #b1aeae,
            1px 7px 1px #c7c7c7,
            1px 20px 40px rgba(0, 0, 0, 0.3)
    }

    .second {
        padding-left: 250px;
        margin-top: 0;
    }
}

.info {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 20px;

    img {
        animation-name: fromBottom;
        animation-duration: 1.2s;
        animation-timing-function: ease-out;
        width: 250px;
        border-radius: 25%;
        object-fit: contain;
        margin-right: 8px;
    }

    .square {
        animation-name: fromBottom;
        animation-duration: 1.2s;
        animation-timing-function: ease-out;
        background-color: #4c8b57;
        width: 250px;
        height: 250px;
        border-radius: 25%;

    }

    .info_text {
        animation-name: fromRight;
        animation-duration: 1.2s;
        animation-timing-function: ease-out;
        width: 45%;
        font-size: 20px;


        p {
            margin-top: 20px;
            text-align: justify;
        }

        ul {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 120px;
        }

        li {
            list-style: circle;
        }

        h3,
        h4 {
            margin-top: 20px;
        }
    }


}

@media (max-width: 768px) {
    .header_text {
        margin: 0 auto;
        margin-top: 50px;

        .text {
            font-size: 50px;
        }

        .second {
            padding-left: 70px;
        }
    }

    .info {

        margin-top: 20px;
        font-family: 'IBM Plex Sans', sans-serif;
        padding: 10px;
        display: block;

        img {
            float: left;
            width: 150px;
        }

        .info_text {
            width: 100%;
            font-size: 18px;

            li {
                list-style: none;
            }

            h3,
            h4 :first-child {
                margin-top: 0px;
            }
        }
    }

}